<a href="https://colab.research.google.com/github/hey-subodh/Twitter_Sentiment_Analysis_NLP/blob/main/Twitter_Sentiment_Analysis_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Label '1' --> Negative (racist/sexist)


Label '0' --> Positive

In [ ]:
from io import IncrementalNewlineDecoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string
import nltk
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

In [ ]:
ds = pd.read_csv("/content/test_tweets_anuFYb8.csv")
ds.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [ ]:
# Datatype info
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB

In [ ]:
# Preprocessing the dataset
# Remove Patter
def remove_pattern(input_text,pattern):
  r = re.findall(pattern,input_text)
  for word in r:
    input_text = re.sub(word,"",input_text)

  return input_text

In [ ]:
# Removing the twitter handles (@user)
ds['clean_tweet'] = np.vectorize(remove_pattern)(ds["tweet"],"@[\w]*")

In [ ]:
ds.head()

,id,tweet,clean_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,#studiolife #aislife #requires #passion #dedic...
1,31964,@user #white #supremacists want everyone to s...,#white #supremacists want everyone to see th...
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your #acne!! #altwaystohe...
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...","3rd #bihday to my amazing, hilarious #nephew..."

In [ ]:
# Removing the special charaters,number and punctuation

ds['clean_tweet'] = ds['clean_tweet'].str.replace("[^a-zA-Z#]"," ")

In [ ]:
ds.head()

,id,tweet,clean_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,#studiolife #aislife #requires #passion #dedic...
1,31964,@user #white #supremacists want everyone to s...,#white #supremacists want everyone to see th...
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your #acne #altwaystohe...
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",rd #bihday to my amazing hilarious #nephew...

In [ ]:
# Removing Short words
ds['clean_tweet'] = ds['clean_tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
ds.head()

,id,tweet,clean_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,#studiolife #aislife #requires #passion #dedic...
1,31964,@user #white #supremacists want everyone to s...,#white #supremacists want everyone #birds #mov...
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways heal your #acne #altwaystoheal #heal...
3,31966,is the hp and the cursed child book up for res...,cursed child book reservations already where w...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",#bihday amazing hilarious #nephew ahmir uncle ...

In [ ]:
# Tokenization

tokenized_tweet = ds['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [#studiolife, #aislife, #requires, #passion, #...
1    [#white, #supremacists, want, everyone, #birds...
2    [safe, ways, heal, your, #acne, #altwaystoheal...
3    [cursed, child, book, reservations, already, w...
4    [#bihday, amazing, hilarious, #nephew, ahmir, ...
Name: clean_tweet, dtype: object

In [ ]:
# Stem the words
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda x:[stemmer.stem(word) for word in x])

tokenized_tweet.head()

0    [#studiolif, #aislif, #requir, #passion, #dedi...
1    [#white, #supremacist, want, everyon, #bird, #...
2    [safe, way, heal, your, #acn, #altwaystoh, #he...
3    [curs, child, book, reserv, alreadi, where, wh...
4    [#bihday, amaz, hilari, #nephew, ahmir, uncl, ...
Name: clean_tweet, dtype: object

In [ ]:
# Combining word into single sentence

for i in range(len(tokenized_tweet)):
  tokenized_tweet[i] = " ".join(tokenized_tweet[i])

ds['clean_tweet'] = tokenized_tweet

ds.head()

,id,tweet,clean_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,#studiolif #aislif #requir #passion #dedic #wi...
1,31964,@user #white #supremacists want everyone to s...,#white #supremacist want everyon #bird #movi here
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe way heal your #acn #altwaystoh #healthi #...
3,31966,is the hp and the cursed child book up for res...,curs child book reserv alreadi where when #har...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",#bihday amaz hilari #nephew ahmir uncl dave lo...